<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177867397436-k88dc2elr2qtnj4elih2rsv0decgen8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177867397436-k88dc2elr2qtnj4elih2rsv0decgen8o</string>
	<key>API_KEY</key>
	<string>AIzaSyBpYYoS_PXDbERxumDXsnEKHyoMV0sGeW4</string>
	<key>GCM_SENDER_ID</key>
	<string>177867397436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.finwallet</string>
	<key>PROJECT_ID</key>
	<string>wakeru-14842</string>
	<key>STORAGE_BUCKET</key>
	<string>wakeru-14842.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177867397436:ios:64938c11b6081ea0af2639</string>
</dict>
</plist>